$number-item-size: 30px;
$number-item-background-color: #333;
$number-item-color: #fff;

div.puzzle-grid {

    div.puzzle-column-count-row {
        display: flex;

        div.row-count-spacer {
            min-width:150px;
            max-width:150px;
            flex-grow:0;
            flex-shrink:0;
        }

        div.puzzle-grid-column-count {
            min-width:41px;
            max-width:41px;
            min-height:150px;
            max-height:150px;
            display:flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-end;
            
            span {
                min-width:$number-item-size;
                max-width:$number-item-size;
                min-height:$number-item-size;
                max-height:$number-item-size;
                background-color: $number-item-background-color;
                color: $number-item-color;
                margin-bottom:3px;
                display:flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
            }
        }  
    }

    div.puzzle-grid-row {

        display:flex;

        div.puzzle-grid-row-counts {
            flex-grow:0;
            flex-shrink:0;
            min-width:150px;
            max-width:150px;
            min-height:41px;
            max-height:41px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            span {
                min-width:$number-item-size;
                max-width:$number-item-size;
                min-height:$number-item-size;
                max-height:$number-item-size;
                background-color: $number-item-background-color;
                color: $number-item-color;
                margin-right:3px;
                display:flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
            }
        }

        div.puzzle-grid-row-data {
            flex-grow:1;
            flex-shrink:0;

            padding:0;
            margin:0;
            min-height:41px;
            max-height:41px;

            div.puzzle-grid-cell {
                border-top:1px solid black;
                border-left:1px solid black;
                min-width:40px;
                min-height:40px;
                max-height:40px;
                max-width:40px;
                display:inline-block;

                &:hover {
                    background-color: lightblue;
                }

                &.is-drawn {
                    background-color: black;
                }

                &.is-missed {
                    background-color: lightsalmon;    
                }
            }

            div.puzzle-grid-cell:last-child {
                border-right: 1px solid black;
            }
        }

        div.puzzle-grid-row-data:last-child {
            div.puzzle-grid-cell {
                border-bottom: 1px solid black;
            }
        }
    }
}

div.counts {
    margin-left:150px;
    display:flex;

    div.miss-count, div.remaining-count {
        font-weight:bold;
        margin:18px;
        border-radius: 20px;
        color:white;
        padding:8px 20px;;
    }

    div.miss-count {
        background-color:red;
    }

    div.remaining-count {
        background-color: $number-item-background-color;
    }
}